* { margin:20; padding:50; box-sizing:border-box; }

body {
  background: url(assets/background.jpg);
  background-size: cover
  background-repeat: no-repeat;
  color: white;
  font-family: helvetica;
  font-size: 14px;
  font-weight: normal;
  padding-top: 200px;
  padding-left: 50px
}

hr {
  width: 25px;
  border-color: Salmon;
}
